langchain-huggingface
langchain 
google-generativeai 
crewai 
streamlit 
python-dotenv
langchain-google-genai
langchain-core # Required by newer versions of langchain
pysqlite3-binary
litellm
sentence-transformers
duckduckgo-search 
chromadb 
unstructured
pypdf 
docx2txt  
unstructured_inference
langchain_community
langchain-cli
BeautifulSoup
